<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237286340821-7jofta19c3i0fp5hon8aofai8uqkvdqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237286340821-7jofta19c3i0fp5hon8aofai8uqkvdqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ4Nogxu1cfYQy6mVtj_Kgs_0jCxoH_lw</string>
	<key>GCM_SENDER_ID</key>
	<string>237286340821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.v1.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-f07f7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-f07f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237286340821:ios:f84a3c7bee7d6700324a5c</string>
</dict>
</plist>